# Python virtual environment                                                        
backend/.venv/
backend/venv/
.vscode/
# Python cache                                                                                     
__pycache__/                                                                                       
*.pyc                                                                                              
*.pyo                                                                                              

# Environment variables (secrets)
.env
.env.local

# OS files
.DS_Store
backend/.depthai_cached_models/

backend/.cache/
.idea/